.banner_calabria{
      background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)),
              url("../media/img/calabria.jpg") no-repeat center center / cover;
    object-fit: cover;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items:center;
    text-align: center;
    p{
        font-family: "Aptos-I";
        font-size: 20px;
        margin-top: 5px;
        color: white;
    }
    h1{
        font-family: "Aptos-BL";
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 50px;
        color: white;
    }
}


.calabria_first{
    width: 100%;
    height: 85vh;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
    align-items: center;
    // border: 1px solid rgb(238, 0, 255);
    &_right{
        // border: 1px solid red;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        &_container{
        width: 70%;
            img{
             width: 100%;
             height: 100%;
             border-radius: 30px;
            }
        }
    }
    &_left{
        width: 100%;
        height: 100%;
        // border: 1px solid rgb(0, 102, 255);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        &_text{
            height: 75%;
            // border: 1px solid rgb(0, 102, 255);
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;
            &_titles{
                // border: 1px solid black;
                text-align: center;
                width: 60%;
                h3{
                    font-family: "Aptos-BL";
                    font-size: 40px;
                    padding-bottom: 10%;
                }
                p{
                    font-family: Aptos-R;
                    font-weight: bold;
                    font-size: 20px;
                    font-style: italic;
                    letter-spacing: 3px;
                }
            }
            &_paragraph{
                // border: 1px solid rgb(116, 32, 32);
                font-family: "Aptos-R";
                text-align: justify;
                width: 60%;
                font-size: 20px;
                margin-bottom: 10%;
            }
        }
        &_button{
            width: 60%;
            display: flex;
            justify-content: center;
            align-items: center;
            button{
                width: 100%;
            }
        }
    }
}

// .calabria_animation_wrapper {
//   position: relative;
// }

// .plane {
//   position: fixed;
//   width: 40px;
//   height: 40px;
//   background-image: url('../media/img/airplane-fill.svg'); // avión en SVG
//   background-size: cover;
//   z-index: 10;
//   top: 100px; // posición inicial, se modificará
//   left: 20vw;
//   transition: top 1s ease, left 1s ease, transform 1s ease;
// }

// .calabria_card {
//   min-height: 100vh;
//   width: 100%;
//   display: flex;
//   align-items: center;
//   justify-content: flex-start;
//   padding: 40px;
//   position: relative;
//   // Las cards impares a la izquierda, pares a la derecha
//   &:nth-child(odd) .calabria_card_container {
//     margin-left: auto;
//     margin-right: 5vw; // Derecha
//   }

//   &:nth-child(even) .calabria_card_container {
//     margin-left: 5vw; // Izquierda
//     margin-right: auto;
//   }
// }

.calabria_scroll_wrapper {
  position: relative;
  width: 100%;
}

.airplane_path {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; // Se estira a toda la altura del wrapper
  pointer-events: none;
  z-index: 1;
}

.calabria_first_card{
      scroll-snap-align: start;
    width: 100%;
    height: 80vh;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: end;
    align-items: center;
    &_container{
        width: 500px;
        z-index: 999;
        height:200px;
        transform: translateX(600px);
        text-align: center;
        background-color:#263d7a;
        display:flex;
        justify-content:center;
        color: white;
        align-items:center;
        border-radius: 10px;
        p{
            font-family:"Aptos-R"
        }
        h3{
            font-family:"Aptos-BL";
            font-size: 22px;
            margin-bottom: 20px;
        }
    }
}
.calabria_second_card{
      scroll-snap-align: start;

    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    &_container{
        text-align: center;
        z-index: 999;
        transform: translateX(-100px);
        width: 500px;
        height:200px;
        background-color: #263d7a;
        display:flex;
        justify-content:center;
        align-items:center;
        color: white;
        border-radius: 10px;
        p{
            font-family:"Aptos-R"
        }
        h3{
            font-family:"Aptos-BL";
            font-size: 22px;
            margin-bottom: 20px;
        }
    }
}
.calabria_third_card{
      scroll-snap-align: start;

    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    &_container{
        transform: translateX(200px);
        z-index: 999;
        width: 500px;
        color: white;
        text-align: center;
        height:200px;
        background-color:#263d7a;
        display:flex;
        justify-content:center;
        align-items:center;
        border-radius: 10px;
        p{
            font-family:"Aptos-R"
        }
        h3{
            font-family:"Aptos-BL";
            font-size: 22px;
            margin-bottom: 20px;
        }
    }
}
















// .calabria_first_card_container:hover{transform: scale(1.1);transition: 2s;}
// .calabria_second_card_container:hover{transform: scale(1.1);transition: 2s;}
// .calabria_third_card_container:hover{transform: scale(1.1);transition: 2s;}








.quienes-somos {
    height: 90vh;
position: relative;
  background-color: #ffffff;
  text-align: center;
  padding: 4rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  overflow: hidden;
}

.contenido {
  max-width: 500px;
}

.quienes-somos h2 {
  font-size: 2.5rem;
  font-weight: 800;
  margin-bottom: 0.5rem;
  font-family: "Aptos-BL";
}

.desde {
  font-style: italic;
  font-family: "Aptos-R";
  font-weight: 600;
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 1.5rem;
}

.descripcion {
      font-family: "Aptos-R";
  font-size: 1rem;
  color: #222;
  margin-bottom: 2rem;
  line-height: 1.6;
}

.boton {
      font-family: "Aptos-R";
  display: inline-block;
  padding: 0.8rem 2rem;
  background-color: #273c85;
  color: white;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

.boton:hover {
  background-color: #1f2f6c;
}

.decor {
   position: absolute;
  width: 60px;
  height: 200px;
  background-color: #273c85;
  top: 50%;
  transform: translateY(-50%);
}
