.highlighted{
    border-radius: 5px;
    border: 0;
    background-color: #263d7a;
    font-family: "Aptos-R";
    padding: 10px;
    text-align: center;
    color: white;
    cursor: pointer;
}

.highlighted:hover{
    transition: .5s;
    background-color: #1266a6;
}

.borderon{
    border-radius: 5px;
    border: #263d7a 1px solid;
    background-color: white;
    font-family: "Aptos-R";
    padding: 10px;
    text-align: center;
    color: #263d7a;
    cursor: pointer;
}

.borderon:hover{
    transition: .5s;
    border: 1px solid #1266a6;
    color: #1266a6;
}