*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body::-webkit-scrollbar{
    background: #263d7a;
    width: 12px;
}

body::-webkit-scrollbar-thumb{
    background: rgb(255, 255, 255);
}

html {
    scroll-behavior: smooth;
  }