*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

@font-face {
    font-family: "Aptos-R";
    src: url("../font/aptos-regular.ttf");
}

@font-face {
    font-family: "Aptos-I";
    src: url("../font/aptos-italic.ttf");
}

@font-face {
    font-family: "Aptos-L";
    src: url("../../font/aptos-light.ttf");
}

@font-face {
    font-family: "Aptos-BL";
    src: url("../../font/aptos-black.ttf");
}

@font-face {
    font-family: "Aptos-BLI";
    src: url("../../font/aptos-black-italic.ttf");
}

a{
    text-decoration: none;
}

body::-webkit-scrollbar{
    background: #263d7a;
    width: 12px;
}

body::-webkit-scrollbar-thumb{
    background: rgb(255, 255, 255);
}

html {
    scroll-behavior: smooth;
  }

::selection {
  color: #1266a6; 
}


@media(max-width:500px){
    .decor-left {
  display: none;
}

.decor-right {
    display: none;
}
}